/* Write your CSS here */
.layout {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 250px;
  margin-right: 250px;
}

@media screen and (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
